<page-header [title]="'Dashboard'">
  <div nz-row>
    <div nz-col>
      <div nz-row nzGutter="16">
        <nz-range-picker [nzDisabledTime]="true" nz-col [nzSpan]="5" [(ngModel)]="dateRange"></nz-range-picker>
        <div nz-col [nzSpan]="1">
          <button nz-button type="button" (click)="findData()" [nzLoading]="loading" [nzType]="'primary'" class="mx-sm">
            Search
          </button>
        </div>
      </div>
    </div>
  </div>
</page-header>

<nz-card [nzBordered]="false" [nzTitle]="'Statistik Umum'">
  <div nz-row nzGutter="16">
    <div nz-col nzXs="24" nzSm="12" nzMd="6" class="mb-md">
      <div nz-row nzType="flex" nzAlign="middle" class="bg-primary rounded-md">
        <div nz-col nzSpan="12" class="p-md text-white">
          <div class="h2 mt0">{{ jumlahAplikasi }}</div>
          <p class="text-nowrap mb0">Jumlah Permohonan Bantuan Hukum</p>
        </div>
      </div>
    </div>
    <div nz-col nzXs="24" nzSm="12" nzMd="6" class="mb-md">
      <div nz-row nzType="flex" nzAlign="middle" class="bg-success rounded-md">
        <div nz-col nzSpan="12" class="p-md text-white">
          <div class="h2 mt0">{{ jumlahPenerimaManfaat }}</div>
          <p class="text-nowrap mb0">Jumlah Penerima Manfaat</p>
        </div>
      </div>
    </div>
    <div nz-col nzXs="24" nzSm="12" nzMd="6" class="mb-md">
      <div nz-row nzType="flex" nzAlign="middle" class="bg-orange rounded-md">
        <div nz-col nzSpan="12" class="p-md text-white">
          <div class="h2 mt0">{{ jumlahTransfer }}</div>
          <p class="text-nowrap mb0">Jumlah Transfer</p>
        </div>
      </div>
    </div>
    <div nz-col nzXs="24" nzSm="12" nzMd="6" class="mb-md">
      <div nz-row nzType="flex" nzAlign="middle" class="bg-magenta rounded-md">
        <div nz-col nzSpan="12" class="p-md text-white">
          <div class="h2 mt0">{{ jumlahRujukan }}</div>
          <p class="text-nowrap mb0">Jumlah Rujukan</p>
        </div>
      </div>
    </div>
  </div>
  <div nz-row nzGutter="16">
    <div nz-col nzXs="24" nzSm="12" nzMd="6" class="mb-md">
      <div nz-row nzType="flex" nzAlign="middle" class="bg-primary rounded-md">
        <div nz-col nzSpan="12" class="p-md text-white">
          <div class="h2 mt0">{{ jumlahKasus }}</div>
          <p class="text-nowrap mb0">Jumlah Kasus</p>
        </div>
      </div>
    </div>
    <div nz-col nzXs="24" nzSm="12" nzMd="6" class="mb-md">
      <div nz-row nzType="flex" nzAlign="middle" class="bg-success rounded-md">
        <div nz-col nzSpan="12" class="p-md text-white">
          <div class="h2 mt0">{{ jumlahKonsultasi }}</div>
          <p class="text-nowrap mb0">Jumlah Konsultasi</p>
        </div>
      </div>
    </div>
    <div nz-col nzXs="24" nzSm="12" nzMd="6" class="mb-md">
      <div nz-row nzType="flex" nzAlign="middle" class="bg-orange rounded-md">
        <div nz-col nzSpan="12" class="p-md text-white">
          <div class="h2 mt0">{{ kasusBerjalan }}</div>
          <p class="text-nowrap mb0">Kasus Berjalan</p>
        </div>
      </div>
    </div>
    <div nz-col nzXs="24" nzSm="12" nzMd="6" class="mb-md">
      <div nz-row nzType="flex" nzAlign="middle" class="bg-magenta rounded-md">
        <div nz-col nzSpan="12" class="p-md text-white">
          <div class="h2 mt0">{{ kasusSelesai }}</div>
          <p class="text-nowrap mb0">Kasus Selesai</p>
        </div>
      </div>
    </div>
  </div>
</nz-card>
<nz-card [nzBordered]="false" [nzTitle]="'Grafik'">
  <div nz-row nzGutter="16">
    <div nz-col nzSpan="12">
      <ngx-charts-bar-horizontal
        [schemeType]="hakTerlanggarOption.schemeType"
        [results]="hakTerlanggar"
        [gradient]="hakTerlanggarOption.gradient"
        [xAxis]="hakTerlanggarOption.showXAxis"
        [yAxis]="hakTerlanggarOption.showYAxis"
        [legend]="hakTerlanggarOption.showLegend"
        [showXAxisLabel]="hakTerlanggarOption.showXAxisLabel"
        [showYAxisLabel]="hakTerlanggarOption.showYAxisLabel"
        [xAxisLabel]="hakTerlanggarOption.xAxisLabel"
        [yAxisLabel]="hakTerlanggarOption.yAxisLabel"
        [showGridLines]="hakTerlanggarOption.showGridLines"
        [legendTitle]="hakTerlanggarOption.legendTitle"
      ></ngx-charts-bar-horizontal>
    </div>
    <div nz-col nzSpan="12">
      <ngx-charts-bar-vertical
        [schemeType]="unitSatuanOption.schemeType"
        [results]="unitSatuan"
        [gradient]="unitSatuanOption.gradient"
        [xAxis]="unitSatuanOption.showXAxis"
        [yAxis]="unitSatuanOption.showYAxis"
        [legend]="unitSatuanOption.showLegend"
        [showXAxisLabel]="unitSatuanOption.showXAxisLabel"
        [showYAxisLabel]="unitSatuanOption.showYAxisLabel"
        [xAxisLabel]="unitSatuanOption.xAxisLabel"
        [yAxisLabel]="unitSatuanOption.yAxisLabel"
        [showGridLines]="unitSatuanOption.showGridLines"
        [legendTitle]="unitSatuanOption.legendTitle"
      ></ngx-charts-bar-vertical>
    </div>
  </div>
  <div nz-row nzGutter="16">
    <div nz-col nzSpan="12">
      <ngx-charts-bar-vertical
        [schemeType]="jenisPeradilanOption.schemeType"
        [results]="jenisPeradilan"
        [gradient]="jenisPeradilanOption.gradient"
        [xAxis]="jenisPeradilanOption.showXAxis"
        [yAxis]="jenisPeradilanOption.showYAxis"
        [legend]="jenisPeradilanOption.showLegend"
        [showXAxisLabel]="jenisPeradilanOption.showXAxisLabel"
        [showYAxisLabel]="jenisPeradilanOption.showYAxisLabel"
        [xAxisLabel]="jenisPeradilanOption.xAxisLabel"
        [yAxisLabel]="jenisPeradilanOption.yAxisLabel"
        [showGridLines]="jenisPeradilanOption.showGridLines"
        [legendTitle]="jenisPeradilanOption.legendTitle"
      ></ngx-charts-bar-vertical>
    </div>
    <div nz-col nzSpan="12">
      <ngx-charts-pie-chart
        [schemeType]="issueLokalOption.schemeType"
        [results]="issueLokal"
        [gradient]="issueLokalOption.gradient"
        [legend]="issueLokalOption.showLegend"
        [labels]="issueLokalOption.labels"
        [legendTitle]="issueLokalOption.legendTitle"
      ></ngx-charts-pie-chart>
    </div>
  </div>
</nz-card>
<nz-card [nzBordered]="false" [nzTitle]="'Peta Sebaran Klien'">
  <div nz-row nzGutter="16">
    <div nz-col nzSpan="24">
      <agm-map style="height: 300px" [latitude]="-0.78927" [longitude]="113.921327" [zoom]="5">
        <agm-marker-cluster
          imagePath="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m"
        >
          <ng-container *ngFor="let map of latlngMap">
            <agm-marker [latitude]="map?.lat" [longitude]="map?.lng"> </agm-marker>
          </ng-container>
        </agm-marker-cluster>
      </agm-map>
    </div>
  </div>
</nz-card>
<!-- <pre> {{ dateRange | json }}</pre> -->
<!-- <div nz-row nzGutter="16">
  <div nz-col nzXs="24" nzMd="12">
    <nz-card [nzBordered]="false" [nzTitle]="salesTitle">
      <ng-template #salesTitle>
        Sales Statistics
        <small class="text-sm font-weight-normal">Business Expectations & Retail Sales Statistics</small>
      </ng-template>
      <g2-bar *ngIf="salesData" height="275" [data]="salesData"></g2-bar>
    </nz-card>
  </div>
  <div nz-col nzXs="24" nzMd="12">
    <nz-card [nzTitle]="growthTitle" [nzBordered]="false">
      <ng-template #growthTitle>
        Growth Rate
        <small class="text-sm font-weight-normal">Business Expectations & Retail Sales Statistics</small>
      </ng-template>
      <g2-timeline
        *ngIf="offlineChartData"
        [data]="offlineChartData"
        [height]="239"
        [padding]="[0, 0, 0, 0]"
        [titleMap]="{ y1: '客流量', y2: '支付笔数' }"
      ></g2-timeline>
    </nz-card>
  </div>
</div>
<div nz-row nzGutter="16">
  <div nz-col nzXs="24" nzMd="12">
    <nz-card [nzBordered]="false" [nzCover]="coverTpl">
      <ng-template #coverTpl>
        <img class="img" src="//os.alipayobjects.com/rmsportal/GhjqstwSgxBXrZS.png" />
      </ng-template>
      <h3>ANT DESIGN</h3>
      <p class="text-grey">A UI Design Language</p>
      <ol class="list-styled text-lg pt-md">
        <li>Designed by experienced team, and showcase dozens of inspiring projects.</li>
        <li>
          Provide solutions for usual problems that may be encountered while developing enterprise-like complex UIs.
        </li>
        <li>Dozens of flexible and practical reusable components that increase your productivity.</li>
      </ol>
      <p class="pt-md mb0">
        <a class="text-grey" href="//ng.ant.design" target="_blank">View Site...</a>
      </p>
    </nz-card>
  </div>
  <div nz-col nzXs="24" nzMd="12">
    <nz-card [nzTitle]="recentTitle" [nzBordered]="false" class="ant-card__body-nopadding">
      <ng-template #recentTitle>
        Recent Posts
        <small class="text-sm font-weight-normal">Venenatis portauam Inceptos ameteiam</small>
      </ng-template>
      <div
        nz-row
        [nzType]="'flex'"
        [nzJustify]="'center'"
        [nzAlign]="'middle'"
        class="py-sm bg-grey-lighter-h point"
        *ngFor="let item of todoData"
      >
        <div nz-col [nzSpan]="4" class="text-center">
          <nz-avatar [nzSrc]="'./assets/tmp/img/' + item.avatar + '.png'"></nz-avatar>
        </div>
        <div nz-col [nzSpan]="20">
          <strong>{{ item.name }}</strong>
          <p class="mb0">{{ item.content }}</p>
        </div>
      </div>
    </nz-card>
  </div>
  <div nz-col nzXs="24" nzMd="12">
    <nz-card nzTitle="Todo lists" [nzBordered]="false" class="ant-card__body-nopadding">
      <div
        nz-row
        [nzType]="'flex'"
        [nzJustify]="'center'"
        [nzAlign]="'middle'"
        class="py-sm bg-grey-lighter-h point"
        *ngFor="let item of todoData"
      >
        <div nz-col [nzSpan]="4" class="text-center">
          <nz-avatar [nzSrc]="'./assets/tmp/img/' + item.avatar + '.png'"></nz-avatar>
        </div>
        <div nz-col [nzSpan]="18">
          <strong>{{ item.name }}</strong>
          <p [class.text-deleted]="item.completed" class="mb0">{{ item.content }}</p>
        </div>
        <div nz-col [nzSpan]="2" class="text-right pr-md">
          <nz-dropdown [nzPlacement]="'topRight'">
            <i nz-dropdown nz-icon nzType="ellipsis" class="rotate-90"></i>
            <ul nz-menu>
              <li nz-menu-item *ngIf="item.completed" (click)="item.completed = false">Active</li>
              <li nz-menu-item *ngIf="!item.completed" (click)="item.completed = true">Completed</li>
              <li nz-menu-item (click)="todoData.splice(todoData.indexOf(item), 1)">Delted</li>
            </ul>
          </nz-dropdown>
        </div>
      </div>
    </nz-card>
  </div>
</div> -->
