<page-header [title]="'Semua Kasus'"></page-header>
<div #card>
  <nz-card [nzBordered]="false">
    <form nz-form [nzLayout]="'inline'" (ngSubmit)="getData()" class="search__form">
      <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
        <div nz-col nzMd="8" nzSm="24">
          <nz-form-item>
            <nz-form-label nzFor="clientName">Nama Klien</nz-form-label>
            <nz-form-control>
              <input nz-input [(ngModel)]="q.clientName" name="clientName" placeholder="Nama Klien" id="clientName" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzMd="8" nzSm="24">
          <nz-form-item>
            <nz-form-label nzFor="judulKasus">Judul Kasus</nz-form-label>
            <nz-form-control>
              <input nz-input [(ngModel)]="q.judulKasus" name="judulKasus" placeholder="Judul kasus" id="judulKasus" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzMd="8" nzSm="24" *ngIf="expandForm">
          <nz-form-item>
            <nz-form-label nzFor="noReg">No Registrasi</nz-form-label>
            <nz-form-control>
              <input nz-input [(ngModel)]="q.noReg" name="noReg" placeholder="Nomor Registrasi" id="noReg" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="expandForm ? 24 : 8" [class.text-right]="expandForm">
          <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="loading">Search</button>
          <button nz-button type="reset" (click)="reset()" class="mx-sm">Reset</button>
          <a (click)="expandForm = !expandForm">
            {{ expandForm ? 'Hide' : 'Expand' }}
            <i nz-icon [nzType]="expandForm ? 'up' : 'down'"></i>
          </a>
        </div>
      </div>
    </form>

    <st
      #st
      [columns]="columns"
      [data]="data"
      [widthMode]="{ type: 'strict', strictBehavior: 'wrap' }"
      [loading]="loading"
      (change)="stChange($event)"
      [scroll]="{ x: '1064px' }"
    >
      <ng-template st-row="status" let-i>
        <nz-badge [nzStatus]="i.statusType" [nzText]="i.statusText"></nz-badge>
      </ng-template>
    </st>
  </nz-card>
</div>

<ng-template #modalContent>
  <!-- <app-view-case [parent]="true" [caseParam]="caseParam"></app-view-case> -->
</ng-template>
